html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
    background-image: url("./background.jpg");
    background-size: cover;
    background-position: center;
    
  }

  .header {
    background-color: transparent;
    padding: 10px;
    position: relative;
    z-index: 1;
  padding: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 38px;
    margin-top: 4px;
    float: right;
    margin-right: 10px;
    font-size: large;
  }
  
  nav a {
    text-decoration: none;
    color: white; 
    font-weight: bold;
    font-size: 14px; 
    transition: font-size 0.05s; 
  }
  
  nav a:hover {
    font-size: 15px; 
  }
  .about-us {
    font-family: Arial, sans-serif;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .with-submenu:hover .submenu {
    display: block;
  }
  
  .arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .App {
    overflow: hidden;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
  }
  
  .logo img {
    width: 100px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  section {
    padding: 40px;
  }
  
  .sheet {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    text-align: left;
    margin-top: 10px; 
  }
  
  .sheet-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px !important; 
  }
  
  .sheet-content h2 {
    font-size: 18px;
    margin: 0 0 2px 0; 
  }
  
  .sheet-content p {
    font-size: 16px;
    margin: 0;
    margin-top: 0px !important;
  }
  
  .support-button {
    background-color: #ff66b2; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-start;
    margin-top: 5%; 
  }
  
  .support-button:hover {
    background-color: #ff3385; 
  }
  
  .header-item.with-submenu:hover .submenu {
    display: block;
  }
  
  .submenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9; 
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .submenu-item {
    margin: 5px 0;
  }
  
  .submenu-item a {
    color: #333; 
    text-decoration: none;
    transition: color 0.3s; 
  }
  
  .submenu-item a:hover {
    color: #ff66b2; 
  }
  
  .white-slide {
    background-color: white;
    padding: 100px 0;
    text-align: left;
  }
  
  .white-slide-content {
    width: 70%;
    margin: 0 auto;
  }
  
  .white-slide-content p {
    
      width: 70%;
      margin: 0 auto;
      margin-left: 10%; /* Add margin-left */
      line-height: 1.5;
      
      color: #ADD8E6; 
    font-size: 26px;
    margin-bottom: 20px;
    
  }
  
  .blue-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10%;
    position: absolute;
    top: 60%;
    
  }
  
  .blue-button:hover {
    background-color: #0056b3;
  }
  
  .background-slide {
    background-size: cover;
    background-position: center;
    height: 100vh; 
  }
  
  .white-slide-content {
    background-color: white;
    padding: 100px 0;
    text-align: left;
    width: 100vw; 
    position: relative; 
    margin-top: 52%;
    height: 85vh;
  }
  
  .white-slide-content p{
    padding: 100px 0;
    text-align: left;
    font-size: 25px;
    width: 100vw; 
    position: relative; 
    margin-top: 85px;
    color: #00008b;
  }
  
  
  
  .yellow-rectangle {
    
    background-color: #FFC300;
    height: 30vh; /* Set the height to 30% of the viewport height */
    width: 100vw; /* Cover the entire width of the screen */
    top: 0px; /* Position it at the top of the screen */
    left: 0; /* Place it behind other content */
    z-index: 1;
    position: relative;
  }
  
  .white-sheet {
    background-color: white;
    height: 40vh; /* Set the height to 30% of the viewport height */
    width: 100vw; /* Cover the entire width of the screen */
    top: 90px; /* Position it at the top of the screen */
    left: 0; /* Place it behind other content */
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    position: relative; 
    top: 270%;
    
  }
  
  .partners-heading {
    font-size: 24px;
    color: blue; 
    margin-left: 5%;
    top: 5%;
    position: absolute;
    border-bottom: 5px dashed blue;
    padding-bottom: 5px;
  
  }
  
  .partner-logos {
    display: flex;
    align-items: center;
    
    top: 70%; /* Add some spacing between heading and logos */
    margin-right: 56%;
  
    align-content: flex-wrap;
    align-items: center;
  }
  
  .partner-logo {
    width: 100px; /* Adjust the width as needed */
     /* Add spacing between logos */
    margin-right: 10%;
  }
  
  
  .blue-sheet {
    background-color: #001861;
    padding: 40px 0;
    text-align: center;
    color: white;
    width: 100vw; 
    left: 0; 
    z-index: 1;
    position: relative;
    height: 30vh; 
    
  }
  
  .blue-sheet-links {
    display: flex;
    justify-content: flex-start; /* Align links to the left */
    gap: 40px;
    margin-bottom: 20px;
    /* Add a continuous dashed line under the links */
    display: flex;
    margin-left: 10%;
    color: yellow;
  }
  
  .blue-sheet-link {
    font-size: 20px;
     /* Underline with dashed line */
  }
  
  .blue-sheet p {
    font-size: 14px;
    margin: 0 20px 20px 20px;
    text-align: left;
    margin-left: 10%;
    margin-top: 2.1%;
  }
  
  .blue-sheet-line {
    
      height: 1px;
      background-color: blue;
      margin: 0 20%;
    
  }
  
  .icon-container {
    display: flex;
    gap: 10px;
  }
  
  .icon-container img {
    width: 30px;
    height: 30px;
  }
  
  .stay-connected {
    display: flex;
    justify-content: flex-end;
    margin-left: 0%;
    margin-top: 30px;
    font-size: 20px;
  }
  
  .stay-connected-text {
    color: yellow;
    font-weight: bold;
    margin-left: 85%;
    border-bottom: 3.8px dashed yellow;
    flex-grow: 1;
    font-size: 20px;
    margin-top: 18%;
    
  }
  
  .dotted-underline {
    border-bottom: 1px dotted yellow;
    flex-grow: 1;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
  }
  
  
  .black-sheet {
    background-color: black;
    height: 30vh; /* Set the height to 30% of the viewport height */
    width: 100vw; /* Cover the entire width of the screen */ /* Position it at the top of the screen */
    left: 0; /* Place it behind other content */
    z-index: 1;
    position: relative;
  
  }
  .partner-logos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .partner-logo {
    display: inline-block;
    margin: 0 20px;
    
  }
  
  .partner-logo img {
    width: 100px;
    height: auto;
  }
  
  
  
  
  